@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@font-face {
    font-family: 'College Bold';
    font-style: normal;
    font-weight: normal;
    src: local('College Bold'), url('COLLEGEB.woff') format('woff');
    }
@font-face {
    font-family: 'Zerocalcare Script NC Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Zerocalcare Script NC Bold'), url('Zerocalcare Script Bold.woff') format('woff');
    }

    $iPadPro: 1112px;

@mixin iPadPro{
  @media (max-width: #{$iPadPro}){
    @content;
  }
}


$Mobile: 768px;

@mixin Mobile{
  @media (max-width: #{$Mobile}){
    @content;
  }
}

$iPhoneSE: 660px;

@mixin iPhoneSE {
  @media (max-width: #{$iPhoneSE}) {
    @content;
  }
}

body {
  margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    max-height: 1080px;
    max-width:1080px;
    @include iPadPro{
      max-width: 100vw;
    }
    @include Mobile{
      max-width: 100vw;
    }
  
    @include iPhoneSE{
      max-width: 100vw;
      padding: 0px 20px 0px 0px;
    }
}

.big_header{
    margin: auto;
    width: 800px;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: -100px;
    margin-top: -45px;
}
 
.header_bild{
    width: 700px;
    margin: auto;
    margin-top:-273px;
    margin-left: 50px;
    z-index: 5;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    left: 69%;
    margin-top: -10px;
    width: 216px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: right;
    padding: 7px;
    border-radius:0px 0px 15px 15px;
    z-index:50;
}
nav a{
    margin: auto;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 100;
    text-decoration: none;
}
nav a:hover{
    color: #ff7f00;
}
nav a:active{
    color: #960000;
}
#aktuell {
    background-color: #960000;
    font-weight: bold;
    letter-spacing: -1px;
    @include Mobile {
      position:relative;
    }
  }
.header {
   /* background-color: #960000;
   */
    height: 700px;
    width: 700px;
    border-radius: 100%;
    margin-top:-273px;
    margin-left: auto;
    margin-right: auto;
    transform: scale();
}

header{
  transform: scale(50%);
  z-index: 5;
  margin-top: -115px;
  @include Mobile{
    display: none;
  }
  @include iPhoneSE{
    display: none;
  }
}
p{
  @include iPhoneSE{
    font-size: 0.8em;
  }
}

h1 {
  color: white;
    font-family: 'Zerocalcare Script NC Bold';
    margin: -445px auto auto 310px;
    font-size: 6.6em;
    font-weight: 300;
    letter-spacing: 5px;
    -webkit-filter: drop-shadow(0px 0px -5px #222);
    filter: drop-shadow(0px 0px -5px #222);
}


h3{
    text-transform: capitalize;
    font-size:1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #960000;
    text-decoration: underline;
    margin-bottom: -0.4em;
    @include iPhoneSE{
      font-size: 0.8em;
    }
}
h4{
  margin-top:-0.8em;
}

video{
    margin: auto;
}

#restmuell{
    margin: auto;
     width: 800px;
     height: 485px;
}
form{
    margin-top: 22%;
    border: none;

}


#datenschutz:hover {
    color: #ff7f00;
    text-decoration: none;
}

#datenschutz:active {
    color: #960000;
    text-decoration: none;
}


input, textarea{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: rgb(187, 187, 187);
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}
textarea{
   width:97%;
}
#submit{
    margin-top:-10px;
}
#absendungsarea{
    margin-top: -10px;
}
#la_sticker{
    width: 150px;
    -webkit-filter: drop-shadow(2px -1px 2px rgb(22, 22, 22));
    filter: drop-shadow(2px -1px 2px rgb(22, 22, 22));
    rotate: -15deg;
    margin-left: 180px;
    margin-top: -20px;
    animation-name: sticker;
    animation-duration: 1.5s;
    float:none;
}


@keyframes sticker{
    from{width:500px; transform:translateX(-100%); transform: translateY(100%); rotate: 180deg}
    to {width:150px; transform:translateX(0%); transform: translateY(0%); rotate:-15deg}
}

.produkte{
    margin: auto;
    margin-top: 15%;
    color:white;
    width: 100%;
    height: 3400px;
    text-align: center;
}
h2{
  text-align: center;
  position: relative;
color: white;
font-family: 'College Bold';
margin: auto;
width: 100%;
font-weight: 300;
font-size: 1.5em;
text-decoration: none;
padding: auto 0;
@include iPhoneSE{
  font-size: 0.8em;
  letter-spacing: -1px;
  margin: auto;
}
}


.kategoriewahl{
  
  margin: -860px auto 50px auto; 
   @include Mobile{
    margin: auto;
  }
}
.kategoriewahl_shop{
  margin:auto;
  margin: -860px auto 20px auto;

  @include iPadPro{
    margin: -320px auto 10px auto;
  }
  @include Mobile{
    margin: auto auto 10px auto;
  }
  @include iPhoneSE{
    margin: auto auto 10px auto;
  }
}
.lifestyle-kategorie{
  position: absolute;
  z-index:2;
  max-width: 540px;

  @include Mobile{
    position: relative;
    margin: 0;
    float: left;

  }
  @include iPhoneSE{
    position: relative;
    width: 100vw;
  }
  
  }
.hygiene-kategorie{
  position: relative;
  left: 540px;
  z-index:2;
  max-width: 540px;
  
  @include iPadPro{
    position: relative;
    width: 50vw;
    left: 50vw;
  }
  @include Mobile{
    position: relative;
    width: 50vw;
  }
  
  }
  .hygiene-kategorie div.kategoriebez{
    position: relative;
    top: 540px;
    z-index: -1;
  max-width: 530px;

    @include iPadPro{
      position: relative;
      top:0;
    }

    @include Mobile{
      position: relative;
      top: -97px;
      width: 50vw;
     
    }
    @include iPhoneSE{
      position: relative;
      top: -67px;
    }
  }
#hygiene-kategorie{
  @include Mobile{
    position: relative;

  }
  @include iPhoneSE{
    position: relative;
    top: 50px;
  }
}

.handykategorie{
  @include Mobile{
    display: none;
  }
  @include iPhoneSE{
    display: none;
  }
}

img.kategorie, img.handykategorie{
position: absolute;
min-width: 180px;
max-width: 540px;
float: left;
margin: auto;


@include iPadPro{
  position: relative;
  width: 50vw;
}
@include Mobile{
  position: relative;
  min-width: 100vw;
  margin: auto;
}
@include iPhoneSE{
  position: relative;
  width: 100vw;
}
}
.kategoriebez{
  top: 0px;
}
div.kategoriebez, div.kategoriebez_lifestylestart{
width: 540px;
position: sticky;
top:0px;
margin: auto;
background-color: black;
color: white;
font-family: 'College Bold';
font-weight:300;
font-size: 3em;
z-index:-1;
margin-top: 540px;
border:none;
padding: 7px 5px 5px 5px;


@include iPadPro{
  position: relative;
  width: 50vw;
  margin: auto;
}
@include Mobile{
  position: relative;
  width: 50vw;
  left: 0;
  float: left;
  margin: auto;
  letter-spacing: -2px;
}
@include iPhoneSE{
  position: relative;
  width: 100vw;
  margin: auto;
}

}
div.kategoriebez:hover, div.kategoriebez_lifestylestart:hover > h2{

background-color: #960000;

}

.lifestyle-kategorie div.kategoriebez{
position: relative;
margin-bottom: 20px;


@include iPadPro{
  position: relative;
}
  @include Mobile{
    position: relative;
  }
  @include iPhoneSE{
    position: relative;
    float: left;
    left: 0;
    width: 50vw;
  }
}
.lifestyle-kategorie div.kategoriebez_lifestylestart{
  @include Mobile{
    position: relative;
    left: 0;
  }
  @include iPhoneSE{
    position: relative;
    height: 47px;
    padding: 15px 5px 6px 5px;
    left: 0;
  }
}
.kategoriebez#aktuell{
  @include Mobile{
    position: relative;
    
  }
    @include iPhoneSE{
      position: relative;
    }
}
.kategoriebez#hygiene-button{
  @include Mobile{
    position: absolute;
    left: 50vw;
  }
  @include iPhoneSE{
    position: relative;
    top: -100vw;
    left: 0;
  }
}

.alle-produkte{
  margin-top: 500px;
display: inline-grid;
grid-gap: 10px;
grid-template-columns: 270px 270px 270px 270px;

@include iPadPro{
  margin-left: 1vw;
  grid-template-columns: 33vw 33vw 33vw;
  margin-top: 0;
}
  @include Mobile{
    grid-template-columns: 50vw 50vw;
    grid-gap: 10px;
    margin-top: -50px;
   }

@include iPhoneSE{
  grid-template-columns: 50%, 50%;
}

}
.lifestyle-produkt{
  width:270px;
  @include Mobile{
    width: 100%;
  }
}
.lifestyle-produkt img{
  width: 270px;
  margin: auto;
  @include Mobile{
    width: 100%;
  }
}
.hygiene-produkt {
width: 270px;
@include Mobile{
  width: 100%;
}
}
.hygiene-produkt img{
  width: 270px;
  margin: auto;
  @include Mobile{
    width: 100%;
  }
}

.hygiene-produkt img:hover, .lifestyle-produkt img:hover{

position: relative;
right: 10%;
  margin: auto;
  width: 360px;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.45);
  z-index: 6;
  @include Mobile {
    width: 60vw;
  }

}


.Artikelbeschr{
  letter-spacing: normal;
  width: 270px;
  top:270px;
  @include Mobile{
    width: 100%;
    overflow: hidden;
  }
}
.Artikelbeschr>h3{
  @include Mobile {
    font-size: 1.2em;
  }
}

  h3~p{
font-size: 0.9em;

}

.shopping-cart>a>img {
  width: 4%;
  position: relative;
  top: 480px;
  left: 47%;
  z-index: 8;
  @include iPadPro{
    width: 5%;
    top: -60px;
  }
  @include Mobile{
    width: 6%;
    top: -150px;
  @include iPhoneSE{
    top: -96px;
    left: 49%;
  }

  }

}

#startseite{
  @include Mobile{
    left:0;
    width: 100%;
    
  }
}
#hygiene-startseite{
  width: 540px;
  margin: auto;
  color: white;
  font-family: 'College Bold';
  font-weight:300;
  font-size: 3em;
  z-index:-1;
  margin-top: 540px;
  border:none;
  padding: 7px 5px 5px 5px;

  @include Mobile{
    position: relative;
    width: 50vw;
    margin: auto;
    height: 64px;
    z-index: 13;
    left: 50vw;
    padding-top: 8px;
    top:calc(-100vw + -77px);
  }
  @include iPhoneSE{
    width: 100vw;
    min-width: 100%;
    left: 0;
    top: -100vw;
    height: 47px;
    padding: 8px 5px 5px 5px;
  }
}
  /*
  $button-size: 40px;
  $close-width: ($button-size / 10);
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    display: block;
    width: $button-size;
    height: $button-size;
    position: relative;
    overflow: hidden;
    > div {
      position: relative;
    }
    &-block {
      width: 40px;
      height: 20px;
      position: relative;
      overflow: hidden;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(55% - 4px);
        display: block;
        width: 4px;
        height: 25px;
        transform-origin: bottom center;
        background: white;
        transition: all ease-out 280ms;
      }
      &:last-of-type {
        transform: rotate(180deg);
      }
    }
    .in {
      .close-button-block {
        &:before {
          transition-delay: 280ms;
          transform: translateX(20px) translateY(-20px) rotate(45deg);
        }
        &:after {
          transition-delay: 280ms;
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
        }
      }
    }
    .out {
      position: absolute;
      top: 0;
      left: 0;
      .close-button-block {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    &:hover {
      .in {
        .close-button-block {
          &:before {
            transform: translateX(-5px) translateY(5px) rotate(45deg);
          }
          &:after {
            transform: translateX(5px) translateY(5px) rotate(-45deg);
          }
        }
      }
      .out {
        .close-button-block {
          &:before {
            transform: translateX(-20px) translateY(20px) rotate(45deg);
          }
          &:after {
            transform: translateX(20px) translateY(20px) rotate(-45deg);
          }
        }
      }
    }
  }






  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1112px)  {
    body, main{
      max-width: 1024px;
      margin: auto auto auto 0;
    }
    
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  body{
    width: 100%;
    margin: auto 0;
  }
  .lifestyle-kategorie{
    position: relative;
    z-index:2;
    max-width: 170px;
    
    }
  .hygiene-kategorie{
    position: relative;
    left: 170px;
    z-index:2;
    max-width: 170px;
    }
    img.kategorie{
      position: relative;
      max-width: 170px;
      float: left;
      margin: auto;
      }
}
*/