@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@font-face {
  font-family: 'College Bold';
  font-style: normal;
  font-weight: normal;
  src: local("College Bold"), url("COLLEGEB.woff") format("woff");
}

@font-face {
  font-family: 'Zerocalcare Script NC Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Zerocalcare Script NC Bold"), url("Zerocalcare Script Bold.woff") format("woff");
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  max-height: 1080px;
  max-width: 1080px;
}

@media (max-width: 320px) {
  body {
    max-width: 100vw;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100vw;
  }
}

@media (max-width: 1112px) {
  body {
    max-width: 100vw;
  }
}

.big_header {
  margin: auto;
  width: 800px;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: -100px;
  margin-top: -45px;
}

.header_bild {
  width: 700px;
  margin: auto;
  margin-top: -273px;
  margin-left: 50px;
  z-index: 5;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  left: 69%;
  margin-top: -10px;
  width: 216px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: right;
  padding: 7px;
  border-radius: 0px 0px 15px 15px;
  z-index: 50;
}

nav a {
  margin: auto;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 100;
  text-decoration: none;
}

nav a:hover {
  color: #ff7f00;
}

nav a:active {
  color: #960000;
}

#aktuell {
  background-color: #960000;
  font-weight: bold;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  #aktuell {
    position: relative;
  }
}

.header {
  /* background-color: #960000;
   */
  height: 700px;
  width: 700px;
  border-radius: 100%;
  margin-top: -273px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale();
          transform: scale();
}

header {
  -webkit-transform: scale(50%);
          transform: scale(50%);
  z-index: 5;
  margin-top: -115px;
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

@media (max-width: 320px) {
  header {
    display: none;
  }
}

.infotext {
  margin-top: -148px;
  background-image: url("../Aufgabe03/bg.png");
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 406px;
}

.infotext p {
  margin-top: -30px;
  margin-right: 190px;
  font-size: 12px;
}

h1, .infotext {
  color: white;
}

h1 {
  font-family: 'Zerocalcare Script NC Bold';
  margin: -445px auto auto 310px;
  font-size: 6.6em;
  font-weight: 300;
  letter-spacing: 5px;
  -webkit-filter: drop-shadow(0px 0px -5px #222);
  filter: drop-shadow(0px 0px -5px #222);
}

h3 {
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #960000;
  text-decoration: underline;
  margin-bottom: -0.4em;
}

h4 {
  margin-top: -0.8em;
}

video {
  margin: auto;
}

#restmuell {
  margin: auto;
  width: 800px;
  height: 485px;
}

form {
  margin-top: 22%;
  border: none;
}

fieldset {
  border: none;
}

fieldset p {
  color: #bbbbbb;
}

#datenschutz {
  color: #bbbbbb;
  text-decoration: underline;
}

#datenschutz:hover {
  color: #ff7f00;
  text-decoration: none;
}

#datenschutz:active {
  color: #960000;
  text-decoration: none;
}

input, textarea {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: #bbbbbb;
  color: #ffffff;
  padding: 5px;
  margin: 5px;
}

textarea {
  width: 97%;
}

#submit {
  margin-top: -10px;
}

#absendungsarea {
  margin-top: -10px;
}

#la_sticker {
  width: 150px;
  -webkit-filter: drop-shadow(2px -1px 2px #161616);
  filter: drop-shadow(2px -1px 2px #161616);
  rotate: -15deg;
  margin-left: 180px;
  margin-top: -20px;
  -webkit-animation-name: sticker;
          animation-name: sticker;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  float: none;
}

@-webkit-keyframes sticker {
  from {
    width: 500px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    rotate: 180deg;
  }
  to {
    width: 150px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    rotate: -15deg;
  }
}

@keyframes sticker {
  from {
    width: 500px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    rotate: 180deg;
  }
  to {
    width: 150px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    rotate: -15deg;
  }
}

.produkte {
  margin: auto;
  margin-top: 15%;
  color: white;
  width: 100%;
  height: 3400px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'College';
  background-color: black;
  margin: auto;
  width: 100%;
  font-weight: 300;
  font-size: 3em;
}

.kategoriewahl {
  margin: -317px auto 50px auto;
}

@media (max-width: 768px) {
  .kategoriewahl {
    margin: auto;
  }
}

@media (max-width: 320px) {
  .kategoriewahl {
    margin: auto;
  }
}

.kategoriewahl_shop {
  margin: auto;
  margin: -540px auto 20px auto;
}

@media (max-width: 768px) {
  .kategoriewahl_shop {
    margin: auto auto 10px auto;
  }
}

@media (max-width: 320px) {
  .kategoriewahl_shop {
    margin: auto auto 10px auto;
  }
}

.lifestyle-kategorie {
  position: absolute;
  z-index: 2;
  max-width: 540px;
}

@media (max-width: 768px) {
  .lifestyle-kategorie {
    position: relative;
    width: 100vw;
  }
}

@media (max-width: 320px) {
  .lifestyle-kategorie {
    position: relative;
    width: 100vw;
  }
}

.hygiene-kategorie {
  position: relative;
  left: 540px;
  z-index: 2;
  max-width: 540px;
}

@media (max-width: 1112px) {
  .hygiene-kategorie {
    position: relative;
    width: 50vw;
    left: 50vw;
  }
}

@media (max-width: 768px) {
  .hygiene-kategorie {
    position: relative;
    width: 50vw;
    left: 0;
  }
}

@media (max-width: 320px) {
  .hygiene-kategorie {
    position: relative;
    width: 50vw;
    left: 0;
  }
}

@media (max-width: 768px) {
  .hygiene-kategorie button.kategoriebez {
    position: relative;
    top: -64px;
  }
}

@media (max-width: 320px) {
  .hygiene-kategorie button.kategoriebez {
    position: relative;
    top: 0;
  }
}

@media (max-width: 768px) {
  #hygiene-kategorie {
    position: relative;
  }
}

@media (max-width: 320px) {
  #hygiene-kategorie {
    position: relative;
    top: 63px;
  }
}

@media (max-width: 768px) {
  #handykategorie {
    display: none;
  }
}

@media (max-width: 320px) {
  #handykategorie {
    display: none;
  }
}

img.kategorie {
  position: absolute;
  min-width: 180px;
  max-width: 540px;
  float: left;
  margin: auto;
}

@media (max-width: 1112px) {
  img.kategorie {
    position: relative;
    width: 50vw;
  }
}

@media (max-width: 768px) {
  img.kategorie {
    position: relative;
    min-width: 100vw;
    margin: auto;
  }
}

@media (max-width: 320px) {
  img.kategorie {
    position: relative;
    width: 100vw;
  }
}

.kategoriebez {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

button.kategoriebez, button.kategoriebez_lifestylestart {
  width: 540px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'College Bold';
  font-weight: 300;
  font-size: 3em;
  z-index: 2;
  margin-top: 540px;
  border: none;
  padding: 7px 5px 5px 5px;
}

@media (max-width: 1112px) {
  button.kategoriebez, button.kategoriebez_lifestylestart {
    position: relative;
    width: 50vw;
    margin: auto;
  }
}

@media (max-width: 768px) {
  button.kategoriebez, button.kategoriebez_lifestylestart {
    position: relative;
    width: 50vw;
    margin: auto;
    letter-spacing: -2px;
  }
}

@media (max-width: 320px) {
  button.kategoriebez, button.kategoriebez_lifestylestart {
    position: relative;
    width: 100vw;
    margin: auto;
  }
}

button.kategoriebez:hover, button.kategoriebez_lifestylestart:hover {
  background-color: #960000;
}

@media (max-width: 768px) {
  .lifestyle-kategorie button.kategoriebez {
    position: relative;
    left: 50vw;
  }
}

@media (max-width: 320px) {
  .lifestyle-kategorie button.kategoriebez {
    position: relative;
    left: 0;
  }
}

@media (max-width: 768px) {
  .lifestyle-kategorie button.kategoriebez_lifestylestart {
    position: relative;
    left: 0;
  }
}

@media (max-width: 320px) {
  .lifestyle-kategorie button.kategoriebez_lifestylestart {
    position: relative;
    left: 0;
  }
}

@media (max-width: 768px) {
  .kategoriebez#aktuell {
    position: relative;
  }
}

@media (max-width: 320px) {
  .kategoriebez#aktuell {
    position: relative;
    top: 0;
  }
}

@media (max-width: 768px) {
  .kategoriebez#hygiene-button {
    position: absolute;
    left: 50vw;
  }
}

@media (max-width: 320px) {
  .kategoriebez#hygiene-button {
    position: relative;
    top: -100vw;
    left: 0;
  }
}

.alle-produkte {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-gap: 10px;
  -ms-grid-columns: 270px 270px 270px 270px;
      grid-template-columns: 270px 270px 270px 270px;
}

@media (max-width: 768px) {
  .alle-produkte {
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    grid-gap: 10px;
  }
}

@media (max-width: 1112px) {
  .alle-produkte {
    margin-left: 1vw;
    -ms-grid-columns: 33vw 33vw 33vw;
        grid-template-columns: 33vw 33vw 33vw;
  }
}

.lifestyle-produkt {
  width: 270px;
}

@media (max-width: 768px) {
  .lifestyle-produkt {
    width: 100%;
  }
}

.lifestyle-produkt img {
  width: 270px;
  margin: auto;
}

@media (max-width: 768px) {
  .lifestyle-produkt img {
    width: 100%;
  }
}

.hygiene-produkt {
  width: 270px;
}

@media (max-width: 768px) {
  .hygiene-produkt {
    width: 100%;
  }
}

.hygiene-produkt img {
  width: 270px;
  margin: auto;
}

@media (max-width: 768px) {
  .hygiene-produkt img {
    width: 100%;
  }
}

.hygiene-produkt img:hover, .lifestyle-produkt img:hover {
  position: relative;
  right: 10%;
  margin: auto;
  width: 360px;
  -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.45);
  z-index: 6;
}

@media (max-width: 768px) {
  .hygiene-produkt img:hover, .lifestyle-produkt img:hover {
    width: 60vw;
  }
}

.Artikelbeschr {
  letter-spacing: normal;
  width: 270px;
  top: 270px;
}

@media (max-width: 768px) {
  .Artikelbeschr {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .Artikelbeschr > h3 {
    font-size: 1.2em;
  }
}

h3 ~ p {
  font-size: 0.9em;
}

/*
  $button-size: 40px;
  $close-width: ($button-size / 10);
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    display: block;
    width: $button-size;
    height: $button-size;
    position: relative;
    overflow: hidden;
    > div {
      position: relative;
    }
    &-block {
      width: 40px;
      height: 20px;
      position: relative;
      overflow: hidden;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(55% - 4px);
        display: block;
        width: 4px;
        height: 25px;
        transform-origin: bottom center;
        background: white;
        transition: all ease-out 280ms;
      }
      &:last-of-type {
        transform: rotate(180deg);
      }
    }
    .in {
      .close-button-block {
        &:before {
          transition-delay: 280ms;
          transform: translateX(20px) translateY(-20px) rotate(45deg);
        }
        &:after {
          transition-delay: 280ms;
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
        }
      }
    }
    .out {
      position: absolute;
      top: 0;
      left: 0;
      .close-button-block {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    &:hover {
      .in {
        .close-button-block {
          &:before {
            transform: translateX(-5px) translateY(5px) rotate(45deg);
          }
          &:after {
            transform: translateX(5px) translateY(5px) rotate(-45deg);
          }
        }
      }
      .out {
        .close-button-block {
          &:before {
            transform: translateX(-20px) translateY(20px) rotate(45deg);
          }
          &:after {
            transform: translateX(20px) translateY(20px) rotate(-45deg);
          }
        }
      }
    }
  }






  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1112px)  {
    body, main{
      max-width: 1024px;
      margin: auto auto auto 0;
    }
    
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  body{
    width: 100%;
    margin: auto 0;
  }
  .lifestyle-kategorie{
    position: relative;
    z-index:2;
    max-width: 170px;
    
    }
  .hygiene-kategorie{
    position: relative;
    left: 170px;
    z-index:2;
    max-width: 170px;
    }
    img.kategorie{
      position: relative;
      max-width: 170px;
      float: left;
      margin: auto;
      }
}
*/
/*# sourceMappingURL=style.css.map */