@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    background-image: url('bg.png');
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    left: 69%;
    margin-top: -10px;
    width: 216px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: right;
    padding: 7px;
    border-radius:0px 0px 15px 15px;
}
nav a{
    margin: auto;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 100;
    text-decoration: none;
}
nav a:hover{
    color: #ff7f00;
}
nav a:active{
    color: #960000;
}
#aktuell {
    color: #960000;
    font-weight: bold;
    letter-spacing: -1px;
}
main {
    max-width: 800px;
    margin: auto;
}

.header {
    background-color: #960000;
    height: 700px;
    width: 700px;
    border-radius: 100%;
    margin-top:-350px;
    margin-left: auto;
    margin-right: auto;
}
.infotext{
    margin-top: -148px;
    background-image: url('bg.png');
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 406px;
}
.infotext p {
    margin-top: -30px;
    margin-right: 180px;
    font-size: 12px;
}
h1, .infotext {
   background-image: url('bg.png');
   color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h1 {
    margin-top: -350px;
    margin-left: 120px;
    font-size: 11.5em;
    font-weight: 900;
    letter-spacing: -10px;
    -webkit-filter: drop-shadow(0px 0px -5px #222);
    filter: drop-shadow(0px 0px -5px #222);
}

h2 {
    font-weight: 300;
    font-size: 2.4em;
    letter-spacing: 2px;
}
h3{
    margin-top:200px;
    font-size:2em;
    font-weight: 500;
    letter-spacing: 3px;
    color: #960000;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#studium{
    margin-top: 0px;
}
.embed-container { 
    position: relative; padding-bottom:56.25%; height:0; overflow: hidden; max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
video{
    margin: auto;
}
img{
    max-width: 800px;
    width: auto;
}
#restmuell{
    margin: auto;
     width: 800px;
     height: 485px;
}
form{
    margin-top: 22%;
    border: none;

}
fieldset{
    border: none;
}
fieldset p{
    color: rgb(187, 187, 187);
}
#datenschutz {
    color: rgb(187, 187, 187);
    text-decoration: underline;
}
#datenschutz:hover {
    color: #ff7f00;
    text-decoration: none;
}

#datenschutz:active {
    color: #960000;
    text-decoration: none;
}


input, textarea{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: rgb(187, 187, 187);
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}
textarea{
   width:97%;
}
#submit{
    margin-top:-10px;
}
#absendungsarea{
    margin-top: -10px;
}
#contacth{
    margin-left:165px;
}
#about_meh{
    margin-left: 90px;
}
#la_sticker{
    width: 150px;
    -webkit-filter: drop-shadow(2px -1px 3px rgb(22, 22, 22));
    filter: drop-shadow(2px -1px 3px rgb(22, 22, 22));
    rotate: -15deg;
    margin-left: 150px;
    margin-top: -35px;
    animation-name: sticker;
    animation-duration: 1.5s;
    float:none;
}
header{
    margin-bottom: -100px;
}

.social-media-nav{
    margin: auto;
    margin-top: -70px;
    text-align: center;
    float:none;
    position: relative;
    z-index: 2;
    font-size:2em;
}
.social-media-icons{
    padding: 0;
    list-style: none;
    margin: 1em;
}
li {
    display: inline-block;
    margin: 0em 0.5em;
    position: relative;

}

i {
    background-image: url('bg.png');
    color: transparent;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     background-clip: text;
    position: absolute;
    top: 21px;
    left: 21px;
   
}
.social-media-nav a:hover{
    font-size:2.5rem;
}

@keyframes sticker{
    from{width:500px; transform:translateX(-100%); transform: translateY(100%); rotate: 180deg}
    to {width:150px; transform:translateX(0%); transform: translateY(0%); rotate:-15deg}
}
